.aside {
  width: 300px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../assets/bg-sidebar-desktop.svg') no-repeat 50% / cover;
  border-radius: 15px;

  @media screen and (max-width: 500px) {
    width: 100%;
    border-radius: 0;
    background: url('../assets/bg-sidebar-mobile.svg') no-repeat 50% / cover;
  }

  &__list {
    width: 90%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 500px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &--item {
      list-style-type: none;
      margin-bottom: 15px;
      padding: 2px 5px;
      display: flex;
      align-items: center;

      @media screen and (max-width: 500px) {
        padding: 0;
        margin-bottom: 0;
      }

      &-num {
        margin-right: 15px;
        padding: 5px 10px;
        color: white;
        font-weight: 700;
        border: 2px solid white;
        border-radius: 50%;
        background-color: $purplishBlue;

        @media screen and (max-width: 500px) {
          margin-right: 0;
          background-color: transparent;
        }
      }

      &-numActive {
        margin-right: 15px;
        padding: 5px 10px;
        color: $marineBlue;
        font-weight: 700;
        background-color: $pastelBlue;
        border: 2px solid $lightBlue;
        border-radius: 50%;
      }

      &-block {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 500px) {
          display: none;
        }

        &--title {
          margin-bottom: 3px;
          color: $coolGray;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 200;
        }

        &--subtitle {
          color: white;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }
}
